:root {
  --gray: #cccccc;
  --white: #ffffff;
  --black: #000000;
  --btnFontColor: #cccccc;
  --btnBg: #444444;
}
* {
  color: var(--fontColor);
  font-family: helvetica;
}
body {
  background: var(--bg);
  font-family: monospace;
}

ul {
  font-family: helvetica;
}

li {
  list-style: circle;
}

/*body { overflow: hidden; }*/
/*img {*/
/*  position: absolute;*/
/*  left: -100%;*/
/*  margin: 7em -244px;*/
/*  animation: slide 4s infinite;*/
/*}*/
/*@keyframes slide {*/
/*  0% { left: -150%; }*/
/*  35% { left: 50%; }*/
/*  65% { left: 50%; }*/
/*  100% { left: 150%; }*/
/*}*/

.list {
  list-style: square;
}

#msg {
  font-family: monospace;
}

.team {
  display: inline-block;
  position: relative;
  width: 20%;
  height: auto;
}

.tag {
  float: left;
  position: absolute;
  z-index: 1000;
  background-color: #92AD40;
  padding: 5px;
  color: #FFFFFF;
  font-weight: bold;
}

.icon {
  width: 5%;
  height: 5%;
}

.logo {
  width: 20%;
  height: auto;
}

.player {
  margin: 1px 0px 0px 1px;
  /*padding: 10px;*/
  width: 50px;
  height: 50px;
}

.player:hover {
  cursor: grab;
}

.player:active {
  cursor: grabbing;
}

.row {
  background-color: #999999;
  text-align: center;
  /*margin: 0 0 0 0;*/
}

.tier-row {
  display: flex;
  flex-direction: row;
  min-height: 80px;
  border-top: solid 20px #000;
  border-bottom: solid 20px #000;
}

.light-theme {
  --bg: var(--gray);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--gray);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}

.btn {
  position: absolute;
  top: 20px;
  left: 250px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.btn:focus { outline-style: none; }

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  width: 80px;
  border: none;
  cursor: pointer;
  transform: translateX(-8px);
}
.multDropdown {
  display: table;
  /*transform: translateX(-8px);*/
}

.dropdown {
  /*display: inline-block;*/
  vertical-align: middle;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transform: translateX(72px) translateY(-50px);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

