<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
</head>
<body>
<div class="ranking" id="ranking">
    <div class="team-placement" id="team-placement-1">
        <div class="placement-holder" id="placement-holder-1">

        </div>
        <div class="placement-pts" id="placement-pts-1">

        </div>
    </div>
    <div class="team-placement" id="team-placement-2">
        <div class="placement-holder" id="placement-holder-2">

        </div>
        <div class="placement-pts" id="placement-pts-2">

        </div>
    </div>
    <div class="team-placement" id="team-placement-3">
        <div class="placement-holder" id="placement-holder-3">

        </div>
        <div class="placement-pts" id="placement-pts-3">

        </div>
    </div>
    <div class="team-placement" id="team-placement-4">
        <div class="placement-holder" id="placement-holder-4">

        </div>
        <div class="placement-pts" id="placement-pts-4">

        </div>
    </div>
    <div class="team-placement" id="team-placement-5">
        <div class="placement-holder" id="placement-holder-5">

        </div>
        <div class="placement-pts" id="placement-pts-5">

        </div>
    </div>
    <div class="team-placement" id="team-placement-6">
        <div class="placement-holder" id="placement-holder-6">

        </div>
        <div class="placement-pts" id="placement-pts-6">

        </div>
    </div>
    <div class="team-placement" id="team-placement-7">
        <div class="placement-holder" id="placement-holder-7">

        </div>
        <div class="placement-pts" id="placement-pts-7">

        </div>
    </div>
    <div class="team-placement" id="team-placement-8">
        <div class="placement-holder" id="placement-holder-8">

        </div>
        <div class="placement-pts" id="placement-pts-8">

        </div>
    </div>
    <div class="team-placement" id="team-placement-9">
        <div class="placement-holder" id="placement-holder-9">

        </div>
        <div class="placement-pts" id="placement-pts-9">

        </div>
    </div>
    <div class="team-placement" id="team-placement-10">
        <div class="placement-holder" id="placement-holder-10">

        </div>
        <div class="placement-pts" id="placement-pts-10">

        </div>
    </div>
</div>
<div id="graph">

</div>
<div id="game-choices">
    <div id="ar-choice" class="game-icon"> ar</div>
    <div id="bb-choice" class="game-icon"> bb</div>
    <div id="bm-choice" class="game-icon"> bm</div>
    <div id="gr-choice" class="game-icon"> gr</div>
    <div id="hitw-choice" class="game-icon"> hitw</div>
    <div id="md-choice" class="game-icon"> md</div>
    <div id="pt-choice" class="game-icon"> pt</div>
    <div id="sot-choice" class="game-icon"> sot</div>
    <div id="sb-choice" class="game-icon"> sb</div>
    <div id="sg-choice" class="game-icon"> sg</div>
    <div id="tgt-choice" class="game-icon"> tgt</div>
    <div id="rsr-choice" class="game-icon"> rsr</div>
</div>
</body>
</html>






