<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v7.min.js" charset="utf-8"></script>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/event.css">
</head>
<body>
<div id="content">
    <div class="ranking" id="ranking">
        <div class="team-placement" id="team-placement-1">
            <div class="placement-holder" id="placement-holder-1">

            </div>
            <div class="placement-pts" id="placement-pts-1">

            </div>
        </div>
        <div class="team-placement" id="team-placement-2">
            <div class="placement-holder" id="placement-holder-2">

            </div>
            <div class="placement-pts" id="placement-pts-2">

            </div>
        </div>
        <div class="team-placement" id="team-placement-3">
            <div class="placement-holder" id="placement-holder-3">

            </div>
            <div class="placement-pts" id="placement-pts-3">

            </div>
        </div>
        <div class="team-placement" id="team-placement-4">
            <div class="placement-holder" id="placement-holder-4">

            </div>
            <div class="placement-pts" id="placement-pts-4">

            </div>
        </div>
        <div class="team-placement" id="team-placement-5">
            <div class="placement-holder" id="placement-holder-5">

            </div>
            <div class="placement-pts" id="placement-pts-5">

            </div>
        </div>
        <div class="team-placement" id="team-placement-6">
            <div class="placement-holder" id="placement-holder-6">

            </div>
            <div class="placement-pts" id="placement-pts-6">

            </div>
        </div>
        <div class="team-placement" id="team-placement-7">
            <div class="placement-holder" id="placement-holder-7">

            </div>
            <div class="placement-pts" id="placement-pts-7">

            </div>
        </div>
        <div class="team-placement" id="team-placement-8">
            <div class="placement-holder" id="placement-holder-8">

            </div>
            <div class="placement-pts" id="placement-pts-8">

            </div>
        </div>
        <div class="team-placement" id="team-placement-9">
            <div class="placement-holder" id="placement-holder-9">

            </div>
            <div class="placement-pts" id="placement-pts-9">

            </div>
        </div>
        <div class="team-placement" id="team-placement-10">
            <div class="placement-holder" id="placement-holder-10">

            </div>
            <div class="placement-pts" id="placement-pts-10">

            </div>
        </div>
    </div>

    <div class="vis-holder" id='vis-svg'></div>

    <div id="game-choices">
        <div id="ar" class="game-icon draggable noselect"> ar</div>
        <div id="bb" class="game-icon draggable noselect"> bb</div>
        <div id="bm" class="game-icon draggable noselect"> bm</div>
        <div id="gr" class="game-icon draggable noselect"> gr</div>
        <div id="hitw" class="game-icon draggable noselect"> hitw</div>
        <div id="md" class="game-icon draggable noselect"> md</div>
        <div id="pt" class="game-icon draggable noselect"> pt</div>
        <div id="rsr" class="game-icon draggable noselect"> rsr</div>
        <div id="sot" class="game-icon draggable noselect"> sot</div>
        <div id="sb" class="game-icon draggable noselect"> sb</div>
        <div id="sg" class="game-icon draggable noselect"> sg</div>
        <div id="tgt" class="game-icon draggable noselect"> tgt</div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="../static/graph.js"></script>
</body>
</html>






