:root {
    --lightshade: #E4E6E0;
    --lightaccent: #96B2AB;
    --lightaccent2: #B8D4BC;
    --mainshade: #607980;
    --darkaccent: #8B8587;
    --darkshade: #232731;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.body {
}

.ranking {
    position: absolute;
    left: 0;
    align-content: center;
    height: 100%;
}

.team-placement {
    background-color: var(--lightaccent);
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-icon {
    background-color: #3e8e41;
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*transition: width 0.5s;*/
    /*-webkit-transition: width 0.5s;*/
    /*text-align: center;*/
    /*overflow: hidden;*/
}

.game-icon:nth-last-child(-n+4) {
    background-color: #FF5555;
}

#game-choices {
    position: absolute;
    right: 0;
    align-content: center;
    height: 100%;
    width: 100px;
}

.noselect {
    user-select: none;
}

.game-icon:hover {
    /*width: 130px;*/
    opacity: 70%;
}

/*#vis-svg {*/
/*    width: calc(80vh - 200px);*/
/*    height: auto;*/
/*}*/

.axis-grid line {
  stroke: #def;
}